.container{
   display: flex;
   flex-direction: column;
  
   margin-top: 50px;
   width: 300px;
   margin-left: 300px;
}

h1 {
    text-align: center;
    margin: 30px;
}

input {
    margin: 20px ;
    height: 25px;
}